/*.tar.*
/*.tgz
/gems/
/*.gem
/tmp/
/pkg/
tags
.*.swp
*.rbc
.rvmrc
.DS_Store
.idea
aclocal.m4
autom4te.cache/
config.status
configure
install-sh
Makefile
depcomp
missing
.deps/
README.rdoc
install.sh
config/ssh
