/*.tar.*
/*.tgz
gems/
*.gem
site/.sass-cache/
site/tmp/dependencies/
site/tmp/
tags
.*.swp
tmp/
*.rbc
pkg/
.rvmrc
.DS_Store
.idea
aclocal.m4
autom4te.cache/
config.status
configure
install-sh
Makefile
depcomp
missing
.deps/
README.rdoc
install.sh
config/ssh
db/config.yml
config/database.yml
test/rvm_test_suite/ruby/config/database.yml
test/rvm_test_suite/ruby/db/config.yml
test/rvm_test_suite/ruby/db/*.sqlite
