language: c
os: [linux, osx]
osx_image: mavericks
sudo: false
addons:
  apt:
    packages:
    - gawk
    - libgmp-dev
before_install:
  - "sed -i'' -e '/rvm_project_rvmrc/d ; /rvm_silence_path_mismatch_check_flag/d' ~/.rvmrc || true"
  - "head -n 100 /etc/rvmrc ~/.rvmrc || true"
  - rvm use ruby-2.0.0 --fuzzy
  - "[[ -n \"${LANG:-}\" ]] || export LANG=en_US.UTF-8"
  - "env | grep '^rvm' || true"
install: gem install tf -v '>=0.4.1'
before_script:
  - "chown -R $USER: $rvm_path"
  - "echo ruby_1.8.7_rubygems_version=1.8.25 > $rvm_path/user/db"
  - "if [[ -f ~/.rvmrc ]] ; then sed -i'' -r -e '/rvm_silence_path_mismatch_check_flag|rvm_project_rvmrc/ d' ~/.rvmrc ; fi"
  - unset rvm_silence_path_mismatch_check_flag rvm_project_rvmrc
  - rvm alias delete default
  - hash -r
  - ./install
  - git submodule init
  - git submodule update
script: tf --text rvm-test/fast/* rvm-test-rvm1/*
matrix:
  include:
    - os: linux
      env: TEST="rvm-installer GPG signature"
      addons: []
      before_install: []
      install: []
      before_script: []
      script: gpg --verify binscripts/rvm-installer.asc binscripts/rvm-installer
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
