language: ruby
rvm:
  - 1.9.3
install:
  - gem update --system
  - gem install bundler --pre
  - gem install tf -v '>=0.4.1'
before_script:
  - "sudo chown -R $USER: $rvm_path"
  - "sudo apt-get install gawk -y"
  - "echo ruby_1.8.7_rubygems_version=1.8.25 > $rvm_path/user/db"
  - rvm alias delete default
  - hash -r
  - ./install
  - rvm-smile
  - git submodule init
  - git submodule update
script: tf --text rvm-test/fast/* rvm-test-rvm1/*
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
      - "irc.freenode.org#rvm"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
