#!/usr/bin/env ruby

compile "/assets/css/*" do
    filter :sass
end

route "/assets/css/*" do
  item.identifier.sub(%r{/assets}, '').chop + ".css"
end

compile '*' do
  filter :haml
  layout "default"
end

route '*' do
  item.identifier + "index.html"
end

layout '*', :haml

