%a{ :name => "about" }
%h1
  About rvm
%p
  Ruby Version Manager (rvm) was originally started in october of 2007, almost two years ago.
  Back then I had the idea and enthusiastically gave it a shot.
  I quickly became discouraged as is a difficult problem space.
%p
  Since then, I have had much experience programming in bash and Ruby both.
  So I found myself last weekend now having the correct need, skill and desire in order to finally make rvm happen.
%p
  rvm started as a personal project however it *very* quickly ballooned thanks to the awesome Ruby community giving constant feedback!
