%a{ :name => "usage" }
%a{ :name => "using" }
%h1
  Using rvm
%p
  rvm comes with many options however it has lots of defaults that are intended on making the command line API much more 'natural'.
%h3
  rvm general usage API
%code
  rvm Action [Implementation] [Flags] [Options]
%a{ :name => "cli-actions" }
%h3
  Where "Action" is one of
%code
  %pre
    :preserve
      * usage   - show this usage information
      use       - setup current shell to use a specific ruby version
      info      - show information for current ruby
      list      - show currently installed versions
      reload    - reload rvm source itself (useful after changing rvm source)
      implode   - removes all ruby installations it manages, everything in ~/.rvm
      update    - upgrades rvm to the latest version.
      reset     - remove default and current settings, exit the shell.
      (If you experience odd behavior try this first)
      debug     - emit environment &amp; configuration information for *current* ruby
      
      install   - install one or many ruby versions
      uninstall - uninstall one or many ruby versions, leaves their sources
      remove    - uninstall one or many ruby versions and remove their sources
      
      ruby      - runs a named ruby file against specified and/or all rubies
      gem       - runs a gem command using selected ruby's 'gem'
      rake      - runs a rake task against specified and/or all rubies
      tests     - runs 'rake test' across selected ruby versions
      specs     - runs 'rake spec' across selected ruby versions
      
      gemsync   - sync gems from a specified version to current version
      gemdir    - switch to gem directory for installation (new login shell)
      srcdir    - switch to src directory for the current ruby installation
%a{ :name => "cli-implementation" }
%h3
  And where [Implementation] is one of
%code
  %pre
    :preserve
      * ruby    - MRI/YARV Ruby (The Standard), defaults to 1.8.6
      jruby     - jRuby
      rbx       - rubinius
      ree       - ruby Enterprise Edition
      system    - use the system ruby (eg. pre-rvm state)
      default   - use rvm set default ruby and system if it hasn't been set.
%a{ :name => "cli-flags" }
%h3
  And Where [Flags] are one of
%code
  %pre
    :preserve
      \--self        - with update, updates rvm itself
      \--rubygems    - with update, updates rubygems for selected ruby
      \--default     - with ruby select, sets a default ruby for new shells.
      \--debug       - Toggle debug mode on for very verbose output.
      \--force       - Force install, removes old install & source before install.
      \--all         - Used with 'rvm list' to display 'most' available versions.
      \--dump        - Used with gemset to dump the current ruby's gemset.
      \--load        - Used with gemset to load a specified gemset file
      \--summary     - Used with rubydo to print out a summary of the commands run.
      \--jit         - Used with rubinius install to build with JIT
      \--latest      - with gemset --dump skips version strings for latest gem.
      \--reconfigure - Force ./configure on install even if Makefile already exists.
%a{ :name => "cli-options" }
%h3
  And Where [Options] are one of
%code
  %pre
    :preserve
      \-v|--version    - Emit rvm version loaded for current shell
      \-h|--help       - Emit this output and exit
      \-l|--level      - patch level to use with rvm use / install
      \--tag        - subersion tag to use
      \--rev        - repository revision # to use or 'head' for
      
      \--prefix     - path for all rvm files (~/.rvm/), with trailing slash!
      \--bin        - path for binaries to be placed (~/.rvm/bin/)
      \--source     - src directory to use (~/.rvm/src/)
      \--archives   - directory for downladed files (~/.rvm/archives/)
      \-S|--script     - Specify a script file to attempt to load and run (rubydo)
      \-G|--gems       - root gem path to use
      \-C|--configure  - custom configure options, comma separated
      default: --enable-shared=true
      \--reconfigure   - Force installer to re-run configure if already run
      \--make          - custom make command
      \--make-install  - custom make install command
      \--nice          - process niceness (for slow computers, default 0)
      \-m|--gem-set    - use a named gem set, instead of the default set.
      \--rm-gem-set    - Remove a named gem set
%a{ :name => "usage-notes" }
%h2
  Usage Notes:
%ul
  %li
    Defaults above are denoted with a '*' prefix.
