%h1
  THANK YOU!!!
%p
  The following people have so kindly donated to the rvm cause.
  I very much appreciate their kind generosity.
%ul
  %li
    Marc-Andre Cournoyer
  %li
    Luis Lavena
  %li
    Thomas Kern
  %li
    Victor Costan
