%h1
  THANK YOU!!!
%p
  The following people have so kindly donated to the rvm cause.
  I very much appreciate their kind generosity.
%ul
  %li
    %a{:href => "http://www.blueboxgrp.com/"}
      Blue Box Group
  %li
    Marc-Andre Cournoyer
  %li
    Robert Hunter
  %li
    Rolf Bjaanes
  %li
    Francois ?
  %li
    Erik Hansson
  %li
    Konstantin Haase
  %li
    Justin Smestad
  %li
    Thomas Porter
  %li
    Brian Hogan
  %li
    Laust Rud Jensen
  %li
    Luis Lavena
  %li
    Gerhard Lazu
  %li
    Vladimir Sizikov
  %li
    Scott A Clausen
  %li
    Thomas Kern
  %li
    Jack Dempsey
  %li
    Gordon Thiesfeld
  %li
    Victor Costan
  %li
    Douglas Seifert
  %li
    Sean Watson
  %li
    Jonathan Palardy
