%h1
  THANK YOU!!!
%p
  The following people have so kindly donated to the rvm cause.
  I very much appreciate their kind generosity.
%ul
  %li
    Rolf Bjaanes
  %li
    Marc-Andre Cournoyer
  %li
    Brian Hogan
  %li
    Laust Rud Jensen
  %li
    Luis Lavena
  %li
    Gerhard Lazu
  %li
    Thomas Kern
  %li
    Gordon Thiesfeld
  %li
    Victor Costan
  %li
    Sean Watson

