%a{ :name => "examples" }
%h1
  Examples of using rvm
%a{ :name => "rvm-version" }
%h3
  RVM version
%pre.code
  :preserve
    ∴ rvm -v

    rvm 0.0.49 (2009.09.24) [http://rvm.beginrescueend.com/]
%a{ :name => "rvm-info" }
%h3
  Use a particular Ruby.
%pre.code
  %pre
    :preserve
      ∴ rvm use ruby -v 1.8.6
%p
  Equivalently (because of rvm's defaults):
%pre.code
  :preserve
    ∴ rvm 1.8.6
%a{ :name => "rvm-list" }
%h3
  Available rvm Ruby Interpreter installations
%pre.code
  :preserve
    ∴ rvm list

    ruby:

    ruby-1.8.6-p369 : ruby 1.8.6 (2009-06-08 patchlevel 369) [i686-darwin10.0.0]
    \=> ruby-1.8.6-p383 : ruby 1.8.6 (2009-08-04 patchlevel 383) [i686-darwin10.0.0]
    ruby-1.9.2-preview1 : ruby 1.9.2dev (2009-07-18 trunk 24186) [i386-darwin10.0.0]

    jruby:

    jruby-1.3.1 : jruby 1.3.1 (ruby 1.8.6p287) (2009-06-15 2fd6c3d) (Java HotSpot(TM) 64-Bit Server VM 1.6.0_15) [x86_64-java]

    ree:

    ruby-enterprise-1.8.6-20090610 : ruby 1.8.6 (2008-08-11 patchlevel 287) [i686-darwin10.0.0] Ruby Enterprise Edition 20090610

    default:

    \=> ruby-1.8.6-p383 : ruby 1.8.6 (2009-08-04 patchlevel 383) [i686-darwin10.0.0]

    system:

    ruby 1.8.7 (2008-08-11 patchlevel 72) [universal-darwin10.0]
%a{ :name => "rvm-info" }
%h3
  Ruby information for the current shell
%pre.code
  :preserve
    ∴ rvm info

    rvm 0.0.49 (2009.09.24) [http://rvm.beginrescueend.com/]

    ruby:
    interpreter:  "ruby"
    version:      "1.8.6"
    date:         "2009-08-04"
    platform:     "i686-darwin10.0.0"
    patchlevel:   "2009-08-04 patchlevel 383"
    full_version: "ruby 1.8.6 (2009-08-04 patchlevel 383) [i686-darwin10.0.0]"

    homes:
    gem:          "/Users/wayne/.rvm/gems/ruby/1.8.6"
    ruby:         "/Users/wayne/.rvm/ruby-1.8.6-p383"

    binaries:
    ruby:         "/Users/wayne/.rvm/ruby-1.8.6-p383/bin/ruby"
    irb:          "/Users/wayne/.rvm/ruby-1.8.6-p383/bin/irb"
    gem:          "/Users/wayne/.rvm/ruby-1.8.6-p383/bin/gem"
    rake:         "/Users/wayne/.rvm/ruby-1.8.6-p383/bin/rake"

    environment:
    GEM_HOME:     "/Users/wayne/.rvm/gems/ruby/1.8.6"
    MY_RUBY_HOME: "/Users/wayne/.rvm/ruby-1.8.6-p383"
    IRBRC:        "/Users/wayne/.rvm/ruby-1.8.6-p383/.irbrc"
%a{ :name => "rvm-install-jruby" }
%h3
  Install jRuby (default version is 1.3.1), but do not use it right now.
%pre.code
  :preserve
    ∴  rvm install jruby
%h3
  Use Ruby 1.9.1, installs if necessary
%pre.code
  :preserve
    ∴  rvm use ruby -v 1.9.1
%h3
  Equivalent to "rvm use ruby -v 1.9.1", due to defaults
%pre.code
  :preserve
    ∴  rvm 1.9.1
%h3
  Use Ruby 1.8.6, installs if necessary
%pre.code
  :preserve
    ∴  rvm 1.8.6
%a{ :name => "rvm-gemdir" }
%h3
  Switch to gems directory for current ruby
%pre.code
  :preserve
    ∴ rvm gemdir

    \/Users/wayne/.gem/ruby/1.9.1
%h3
  Switch to the system gems directory
%pre.code
  :preserve
    ∴ rvm gemdir system

    \/Library/Ruby/Gems/1.8
%h3
  Switch to the system user gems directory
%pre.code
  :preserve
    ∴ rvm gemdir system user

    \/Users/wayne/.gem/ruby/1.8
%h3
  Switch to gems directory for ruby jruby (1.3.1)
%pre.code
  :preserve
    ∴ rvm gemdir jruby

    \/Users/wayne/.gem/jruby/1.8
%a{ :name => "rvm-use-default" }
%h3
  Use the user set default  ruby
%pre.code
  :preserve
    ∴  rvm use default
%a{ :name => "rvm-use-system" }
%h3
  Use the system ruby (as if no rvm)
%pre.code
  :preserve
    ∴  rvm use system
%a{ :name => "rvm-reset" }
%h3
  Reset to pre-rvm state.
%pre.code
  :preserve
    ∴  rvm reset
%h3
  Uninstall rvm installed 1.8.7 version
%pre.code
  :preserve
    ∴  rvm uninstall 1.8.7
%a{ :name => "rvm-gemdup" }
%a{ :name => "rvm-gemdup-default" }
%h3
  Install gems from ~/.gem/ruby/1.8/
%pre.code
  :preserve
    ∴  rvm gemdup default
%p
  note: gemset dump/load is much preferred over this.
%a{ :name => "rvm-gemdup-system" }
%h3
  Install gems from system gem dir (osx: /Library/Ruby/Gems/1.8) using current ruby
%pre.code
  :preserve
    ∴  rvm gemdup system
%p
  note: gemset dump/load is much preferred over this.

