%h2
  Hooks
%p
  rvm supports several hooks.
%ul
  %li after_use
  %li before_install
  %li after_install
  %li after_do (triggered after any 'do' action)

%p
  Each hook is a file in ~/.rvm/hooks/[hook name] in which you can place any sequence of bash scripting commands.
  Each hook file when run will have available to it the entire rvm environment.
  Some useful rvm environmental varaibles are:
%ul
  %li rvm_ruby_string - The ruby string used to uniquely identify the selected ruby interpreter.
  %li rvm_ruby_home - The directory containing the installation of the selected ruby interpreter.
  %li rvm_ruby_gem_home - The gem home directory for the selected ruby interpreter.

%p
  As a simple example say we want to print out the ruby string every time we switch rubies.
%pre.code
  :preserve
    ∴ cat ~/.rvm/hooks/after_use

      echo "Now using $rvm_ruby_string"

%p
  Will produce the following.
%pre.code
  :preserve
    ∴ rvm 1.9.1

      Now using ruby-1.9.1-p243

    ∴ rvm 1.8.7

      Now using ruby-1.8.7-p174
