%h1
  Cut Rubies with ease...
%p
  You want to try out all of the different ruby interpreters and versions including different patchlevels, but you don't want to break what's working for you now.
  No time to waste?
%img{ :src => "http://img.skitch.com/20090904-fyqnyu8pcr36ahe91er9x28bhi.png", :alt => "" }
%p
  Use
  %em
    %a{ :href => "/" }
      rvm
  \.
  Easy installation and switching between available Ruby versions and runtimes, without messing up your current Ruby install!
  rvm also allows you to use multiple versions of ruby in separate terminals concurrently!
  %p
    %h3
      Getting started is easy:
    %p
      Install the gem
    %pre.code
      :preserve
        ∴ gem sources -a http://gemcutter.org/ # If you do not already have gemcutter as a source.
        ∴ gem install rvm
        Successfully installed rvm-0.0.58
        1 gem installed
    %p
      Install rvm for your current user.
    %pre.code
      :preserve
        ∴ rvm-install
        (follow prompts)
    %p
      If rvm-install is not found it is likely because your users gem home is not in your path. You can add it to your path by putting this in your ~/.bashrc &amp; ~/.bash_profile
    %pre.code
      :preserve
        ∴ cat ~/.bash_profile | grep PATH
        PATH=$PATH:~/.gem/ruby/1.8/bin ; export $PATH
    %p
      Alternatively you can call it manually:
    %pre.code
      :preserve
        ∴ ~/.gem/ruby/1.8/bin/rvm-install
        (rvm installs :) )
    %p
      Open a new shell and rvm!
    %pre.code
      :preserve
        ∴ rvm install 1.9.1 ; rvm 1.9.1

        ∴ ruby -v

        ruby 1.9.1p243 (2009-07-16 revision 24175) [x86_64-linux]

        ∴ which ruby

        \/home/wayne/.rvm/ruby-1.9.1-p243/bin/ruby
    %h3
      Reverting to system default is simple as well!
    %pre.code
      :preserve
        ∴ rvm default

        ∴ ruby -v

        ruby 1.8.7 (2008-08-11 patchlevel 72) [universal-darwin10.0]

        ∴ which ruby

        \/usr/bin/ruby
      \&larr; See more details on the rest of the site, especially checkout the
    %a{ :href => "/examples/" }
      Examples
    \.

