%h1
  MySQL

%h2
  Linux
%p
  Simply make sure that mysql_config is in your path and the mysql gem should install with no issues.

%h2
  Mac OS X
%p
  The architecture of mysql must match the selected ruby’s architecture so you might have to re-install/compile one of them to the desired arch.
%p
  You can find out the architecture of each by inspecting the output of:
%pre.code
  :preserve
    file $(which mysql)
    file $(which ruby)
%p
  It is recommended that you install MySQL via the pre-built pkg installer provided on dev.mysql.com in the downloads section.
  If you are running OSX 10.5 or later be sure to download the .pkg installer for 'x86_64' only, not the universal one nor the i386 one.

%p
  Once you have the architecture of both matching you can install the gem.
%p
  Place the following in your ~/.rvmrc file:
%pre.code
  :preserve
    rvm_archflags="-arch x86_64"
%p
  Then install the mysql gem:
%pre.code
  :preserve
    export ARCHFLAGS="-arch x86_64" ; gem install mysql -- --with-mysql-config=/usr/local/mysql/bin/mysql_config
%p
  where in this example '/usr/local/mysql/bin/' is the path to my 'mysql_config' file installed with the .pkg mysql installer from dev.mysql.com.

%p
  Also be aware that there were just two bugfixes in building rubies:
  %ul
    %li
      rvm now honors (again) the configure flags passed in on the command line -C –enable-shared,–with-iconv-dir=...
    %li
      rvm now specifies both --host and --build configure flags on OSX in order to ensure that it will properly build as x86_64 or i386.

