%a{ :name => "passenger" }
%h1
  Using rvm rubies with Passenger
%p
  rvm will allow you to use any of it's MRI/YARV rubies with passenger very easily.
%h3
  Example
%p
  Let us say that we have used a custom rvm installed ruby-1.8.6-p369.
  To use this ruby under Passenger with Nginx simply set:
%pre.code
  :preserve
    passenger_ruby /home/wayne/.rvm/bin/ruby-1.8.6-p369;
%p
  And for Passenger running under Apache set:
%pre.code
  :preserve
    PassengerRuby /home/wayne/.rvm/bin/ruby-1.8.6-p369;
%p
  Where you substitute '/home/wayne/' with your own ~/ and 'ruby-1.8.6-369' with your particular interpreter-version-patchlevel string.
%h2
  How do I use custom gem sets under passenger?
%p
  Simply select the GEM_HOME for the gemset at the top of your config.ru file:
%pre.code
  :preserve
    ENV["GEM_HOME"]=%x{"source ~/.bash_profile ; rvm 1.9.1%pancake ; rvm gemdir"}.strip

