%h1
  Custom Patches (MRI) (NIY)
%pre.code
  :preserve
    ∴ rvm install 1.8.6 --patch /path/to/awesome.patch

    ∴ rvm 1.8.6-lawesome

    ∴ which ruby

    /Users/wayne/.rvm/ruby-1.8.6-lawesome/bin/ruby

