%h2
  rvm-prompt
%p
  To display the current ruby selection string in your prompt add this to your profile:
%pre.code
  :preserve
    PS1="\$(~/.rvm/bin/rvm-prompt) $PS1"
%p
  This ends up looking like this during usage:
%pre.code
  :preserve
    ∴ rvm 1.9.1

    [ruby-1.9.1-p243] ∴

    [ruby-1.9.1-p243] ∴ rvm 1.8.6

    [ruby-1.8.6-p383] ∴ rvm jruby

    [jruby-1.4.0] ∴

%p
  By default rvm-prompt outputs the fully qualified ruby string necessary to select the particular ruby currently selected and nothing when systme ruby is selected.
  You can change this default behavior and control the verbosity of rvm-prompt in any combination you wish for (i)nterpreter / (v)ersion / (p)atchlevel.
%pre.code
  :preserve
    ∴ rvm 1.9.1

    [ruby-1.9.1-p243] ∴ ~/.rvm/bin/rvm-prompt i v p # default

      [ruby-1.9.1-p243]

    [ruby-1.9.1-p243] ∴ ~/.rvm/bin/rvm-prompt i v

      [ruby-1.9.1]

    [ruby-1.9.1-p243] ∴ ~/.rvm/bin/rvm-prompt v i

      [1.9.1-ruby]

    [ruby-1.9.1-p243] ∴ ~/.rvm/bin/rvm-prompt p i

      [p243-ruby]

    [ruby-1.9.1-p243] ∴ ~/.rvm/bin/rvm-prompt i v

      [ruby-1.9.1]

    [ruby-1.9.1-p243] ∴ ~/.rvm/bin/rvm-prompt i p

      [ruby-p243]

    [ruby-1.9.1-p243] ∴ ~/.rvm/bin/rvm-prompt v p

      [1.9.1-p243]

