%h1
  Operating System pre-requirements
%h3
  Debian/Ubuntu
%p
  For jRuby (if you wish to use it) you will need:
%pre.code
  :preserve
    sudo aptitude install sun-java6-bin sun-java6-jre sun-java6-jdk
%p
  For ree (if you wish to use it) you will need:
%pre.code
  :preserve
    sudo aptitude install libreadline5-dev libssl-dev bison
%h3
  Gentoo
%p
  For jRuby (if you wish to use it) you will need:
%pre.code
  :preserve
    sudo emerge dev-java/sun-jdk dev-java/sun-jre-bin
%h3
  Arch Linux
%p
  For jRuby (if you wish to use it) you will need:
%pre.code
  :preserve
    sudo pacman -Sy jdk jre
%h3
  RH/Centos/FC
%p
  For ree (if you wish to use it) you will need:
%pre.code
  :preserve
    yum install -y rpm-build gcc gcc-c++ redhat-rpm-config ; then download and rpmbuild and install the sdk, Have fun...
%h3
  Mac OS X
%p
  Be sure that you have XCode Tools installed in order to use rvm.
%pre.code
  :preserve
    If you intend on installing MacRuby you must install LLVM first.

