%h1
  Specifying repository revisions
%p
  Moving beyond official patch levels and tags we can also use any arbitrary revision for 1.8.X and 1.9.X
%pre.code
  :preserve
    ∴ rvm install 1.8.6-r24700 ;  rvm 1.8.6-r24700

    ∴ ruby -v

    ruby 1.8.6 (2009-08-26 patchlevel 387) [i686-darwin10.0.0]

    ∴ which ruby

    /Users/wayne/.rvm/ruby-1.8.6-24700/bin/ruby

