%h1
  Installing Rubies

%p
  Official ruby interpreter releases that are supported by rvm can be installed using any of the below methods.

%h2 Patch Levels
%p
  Installing specific ruby
  %a{ :href => "/patchlevels/" }
    patchlevels

%h2
  Repository Revisions (MRI)
%p
  Installing specific ruby repository
  %a{ :href => "/revisions/" }
    revisions

%h2 Tags (MRI)
%p
  Installing specific ruby
  %a{ :href => "/tags/" }
    tags

%h2 Custom Patches (MRI)
%p
  Installing specific rubies with custom
  %a{ :href => "/patches/" }
    patches

%h2 Getting Head
%p
  Getting the head/trunk version of rubies is very simple.
  For any interpreter which has head support simply prefix -head after the interpreter.
%pre.code
  :preserve
    ∴ rvm install ree-head
    ∴ rvm use ree-head
%p
  Note that as of this writing 1.9.2 has no repository branch and thus "1.9.1-head" IS "1.9.2-head".
