%h2
  System /etc/rvmrc
%p
  The system rvmrc file is loaded before rvm initializes and before the user's ~/.rvmrc.

%h2
  User ~/.rvmrc
%p
  The users rvmrc file overwrites settings in /etc/rvmrc and is loaded before rvm initializes.


%h2 Examples
%p
  Have rvm install rubies when used instead of simply displaying a warning and exiting.
%pre.code
  :preserve
    rvm_install_on_use_flag=1
%p
  Have rvm compile using say, 3, compile threads.
%pre.code
  :preserve
    rvm_make_flags="-j 3"

%p
  Have rvm install to a different location (notice that it ends with /rvm).
%pre.code
  :preserve
    rvm_path=/opt/rvm

%p
  Have rvm compile rubies and libraries as x86_64 on *Mac OS X*.
%pre.code
  :preserve
    rvm_arch_flags="-arch x86_64"
%p
  Similarly for i386 on *Mac OS X*.
%pre.code
  :preserve
    rvm_arch_flags="-arch i386"


