%h1
  Repository Tags (MRI)
%p
  To install a specific tagged version of ruby from the repository we specify -t(tag name).
%pre.code
  :preserve
    ∴ rvm install 1.8.6-tv1_8_6_111 ; rvm 1.8.6-tv1_8_6_111

    ∴ which ruby

    /Users/wayne/.rvm/ruby-1.8.6-v1_8_6_111/bin/ruby

%p
  A list of all valid tags can be found in the ruby repository: http://svn.ruby-lang.org/repos/ruby/tags/
