%h1
  Troubleshooting
%p
  Here we will explore common issues and their resolutions.
  Visit me (wayneeseguin) in #rvm on irc.freenode.net and let me help you with any issues and please leave feedback!
%h2
  Before trying any solution below
%p
  %ul
    %li
      Make sure that you are on the latest gem version or git HEAD.
    %li
      make sure that the sourcing of the rvm file occurs *last* in your profile files (.bash_profile / .bashrc / .zshrc).
    %li
      Be sure to be using either bash or zsh, rvm is untested at best in other shells.
%h2
  After selecting a ruby, rubygems is still showing the system default.
%p
  Most commonly this is due to RUBYOPT.
  rvm attempts to disable it during installation however you may need to manually disable RUBYOPT while installing a ruby.
  Check the ~/.rvm/log/[ruby you are installing]/rubygems.install.error.log to see if this might be the case.
%h2
  My path seems empty / curl not found
%p
  This is most often due to your environment being jacked up when you call rvm so that the wrong system defaults get recorded.
  Remove ~/.rvm/current and ~/.rvm/default*, open a new terminal shell and use rvm to select a ruby.
%h2
  When in doubt...
%p
  If all else fails 'rvm implode' then 'rvm update'
  If this still does not resolve your particular issue, please visit me (wayneeseguin) in #rvm on irc.freenode.net
%h2
  Readline
%ul
  %li
    If you have an error when compiling pertaining to readline, you may need to attempt installing with the following configure option:
    %br
    %code
      %pre
        :preserve
          rvm install 1.9.1 -C --enable-shared=yes,--with-readline-dir=/usr/local
        Note that this error seems to occur when having a macports installed readline along your path.
%h2
  i_can.has? iconv => false # => ?!
%p
  If you have issues with iconv not being available in ruby / irb please try the following configure option:
%code
  %pre
    :preserve
      rvm {install|use} {selector} -C --enable-shared=yes,--with-iconv-dir=/usr/local
%p
  Where you replace '/usr/local' with the prefix where your iconv libraries are.
  Thanks to Justin Chen for this doosey!
%h2
  curl failing, 'curl is' ?!
%p
  If you see this:
%code
  %pre
    :preserve
      ++ curl is /opt/local/bin/curl -O -L -s -C - ftp://ftp.ruby-lang.org/pub/ruby/1.8/ruby-1.8.6-p383.tar.gz
      curl: Remote file name has no length!
      curl: try 'curl --help' or 'curl --manual' for more information
%p
  Then maybe you have aliased or symlinked the 'which' command to the 'type' command, revert this and rvm should work.
%h2
  I can't seem to install the pg gem.
%p
  Prepend with a variable assignment for PATH with the location of the pg_config file, for example:
%code
  %pre
    :preserve
      PATH=/Users/wayne/.dbm/postgresql-8.4.0/bin:$PATH gem install pg --no-rdoc --no-ri
