%a{:href => "#", :name => "top"}
%h1
  Troubleshooting
%p
  Here we will explore common issues and their resolutions.
  Visit me (wayneeseguin) in #rvm on irc.freenode.net and let me help you with any issues and please leave feedback!
%h2
  Before trying any solution below
%p
  %ul
    %li
      Make sure that you are on the latest gem version (rvm update) or git HEAD (rvm update --head).
    %li
      make sure that the sourcing of the rvm file occurs *last* in your profile files (.bash_profile / .bashrc / .zshrc) essentially after any customizations of PATH / functions or aliases.
    %li
      Be sure to be using either bash or zsh, rvm (latest versions preferred) is untested at best in other shells.

%a{:href => "#", :name => "mysql"}
%h2
  MySQL
%p
  If you are having issues installing MySQL gem for a ruby please visit the
  %a{:href => "/passenger"}
    MySQL page.

%a{:href => "#", :name => "passenger"}
%h2
  Passenger
%p
  If you are having issues getting passenger running with an rvm installed ruby, most likely you missed the '.bin/[ruby string]' comment on the
  %a{:href => "/passenger"}
    passenger page.

%a{:href => "#", :name => "readline"}
%h2
  Readline
%p
  If you have an error when compiling pertaining to readline, you may need to attempt installing with the following configure option:
  %br
  %pre.code
    :preserve
    rvm install readline ; rvm remove 1.9.1 ; rvm install 1.9.1 -C --with-readline-dir=$rvm_path/usr
%p
  Note that this error occurs most often when having a macports installed readline along your path.
  Next most often is when the readline development headers are not available in your path.
%p
  If you simply cannot seem to get this to work you can have rvm install a copy of readline into ~/.rvm/usr like so:
  %br
  %pre.code
    :preserve
      rvm install readline
      rvm remove 1.9.1 ; rvm install 1.9.1
%p
  Be sure you are on either rvm git head or release 0.0.78+ as it has some essential bug fixes for this to work properly.
%p
  Then

%a{:href => "#", :name => "iconv"}
%h2
  require "iconv" # => false ?!
%p
  If you have issues with iconv not being available in ruby / irb please try the following configure option:
%pre.code
  :preserve
    rvm install iconv ; rvm remove 1.9.1 ; rvm install 1.9.1 -C --with-iconv-dir=$rvm_path/usr
%p
  Where you replace '/usr/local' with the prefix where your iconv libraries are. (Thanks to Justin Chen for bringing this doosey to our attention!)
%p
  If you simply cannot seem to get this to work you can have rvm install a copy of readline into ~/.rvm/usr like so:
  %br
  %pre.code
    :preserve
      rvm install iconv
      rvm remove 1.9.1 ; rvm install 1.9.1
%p
  Be sure you are on either rvm git head or release 0.0.78+ as it has some essential bug fixes for this to work properly.

%a{:href => "#", :name => "curl"}
%h2
  curl failing, 'curl is' ?!
%p
  If you see this:
%pre.code
  :preserve
    ++ curl is /opt/local/bin/curl -O -L -s -C - ftp://ftp.ruby-lang.org/pub/ruby/1.8/ruby-1.8.6-p383.tar.gz
    curl: Remote file name has no length!
    curl: try 'curl --help' or 'curl --manual' for more information
%p
  Then maybe you have aliased or symlinked the 'which' command to the 'type' command, revert this and rvm should work.

%a{:href => "#", :name => "pg"}
%h2
  I can't seem to install the pg gem.
%p
  Prepend with a variable assignment for PATH with the location of the pg_config file, for example:
%pre.code
  :preserve
    PATH=/Users/wayne/.dbm/postgresql-8.4.0/bin:$PATH gem install pg --no-rdoc --no-ri

%a{:href => "#", :name => "aptana"}
%h2
  Trouble getting Aptana working.
%p
  Aptana 2.0.2 has been reported (banksy34) to work with rvm.
  It must be launched from the command line after selecting the desired ruby.
  This ensures that Aptana inherits the proper environment settings.
%p
  Also note that according to
  %a{:href => "https://aptana.lighthouseapp.com/projects/35266/tickets/81-radrails-not-compatible-with-rvm-gem"}
    this thread
  , this same trick also works for getting rvm to work with the 'RadRails 2.0.0' standalone.

%a{:href => "#", :name => "rubygems"}
%h2
  After selecting a ruby, rubygems is still showing system gem.
%p
  Most commonly this is due to RUBYOPT.
  rvm attempts to disable it during installation however you may need to manually disable RUBYOPT while installing a ruby.
  Check the ~/.rvm/log/[ruby you are installing]/rubygems.install.error.log to see if this might be the case.

%a{:href => "#", :name => "path"}
%h2
  My path seems empty / curl not found
%p
  This is most often due to your environment being setup incorrectly up when you call rvm for the first time so that the wrong system defaults get recorded.
  Run 'rvm reset' (or manually remove ~/.rvm/current and ~/.rvm/default*).
  Next open a new terminal shell and use rvm to select a ruby.
  This will record new system defaults.
  One more thing to be aware of is that the sourcing of rvm in your profiles shoul occur essentially last, after any path / alias / function / etc... setup.

%a{:href => "#", :name => "rvm"}
%h2 rvm() is missing
%p
  Do not place exit's and/or returns in the .bashrc and .bash_profile files.
  This has been found to be one cause of this issue.
  rvm is a set of bash functions and bash scripts so by having anything return / exit from those it interrupts the rvm's flow.

%a{:href => "#", :name => "ubuntu"}
%h2 Ubuntu 9.10 + gem installs failing
%p
  using #rvm on Ubuntu 9.10 karmic, you need to delete -O2 from CFLAGS in ruby Makefile, otherwise some gems won't install (bug in gcc 4.4.1).

%a{:href => "#", :name => "doubt"}
%h2
  When in doubt...
%p
  If all else fails 'rvm implode' then 'rvm update'
  If this still does not resolve your particular issue, please visit me (wayneeseguin) in #rvm on irc.freenode.net

%a{:href => "#", :name => "bottom"}
