%h1
  Upgrading rvm
%p
  rvm supports two ways of upgrading itself, one to the latest gem and the other to the latest repository source.
%h3
  Upgrading to the latest gem
%code
  %pre
    :preserve
      ∴ rvm update
%p
  will install the latest gem and then run the rvm-install command.
%h3
  Upgrading to the latest repository source
%code
  %pre
    :preserve
      ∴ rvm update --head
%p
  will obtain the latest rvm repository source and run ./install from that repository.
