<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>rvm: Ruby Version Manager - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/bp.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>

    <a href="http://github.com/wayneeseguin/rvm"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
    
    <div class="container">
      <div id="sidebar" class="span-7 append-1">
        <div id="header">
            <div class="title"><a href="/">rvm</a></div>
            <div class="tagline">Ruby Version Manager</div>
        </div>
        <h2 class="quick"> gem install rvm &&<br/>
         rvm-install</h2>

        <h2>Documentation</h2>
        <ul>
          <li><a href="http://rvm.overnothing.com/">Tutorial</a></li>
          <!--
          <li><a href="http://rdoc.info/rvm">RDoc</a></li>
          -->
        </ul>
        <h2>Development</h2>
        <ul>
          <li><a href="http://github.com/wayneeseguin/rvm/">Git (GitHub)</a></li>
          <li>irc.freenode.net #rvm</li>
          <!--
          <li><a href="http://groups.google.com/group/ruby-rvm/">Discussion (Google Group)</a></li>
          <li><a href="http://wiki.github.com/wayneeseguin/rvm">Wiki (GitHub)</a></li>
          -->
        </ul>
      </div>      
      <div id="main" class="span-16 last">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
