!!!
%html
  %head
    %title
      rvm: Ruby Version Manager -
      = @item[:title]
    %link{ :href => "/bp.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    %a{ :href => "http://github.com/wayneeseguin/rvm" }
      %img{ :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :alt => "Fork me on GitHub", :style => "position: absolute; top: 0; right: 0; border: 0;" }
    #sidebar.span-7
      #header
        .title
          %a{ :href => "/" }
            rvm
        .tagline
          Ruby Version Manager

    %br
    .container
      #sidebar.span-5.append-1
        %h2
          Documentation
        %ul
          %li
            %a{ :href => "/introduction/" }
              Introduction
          %li
            %a{ :href => "/install/" }
              Installing rvm
          %li
            %a{ :href => "/upgrade/" }
              Upgrading rvm
          %li
            %a{ :href => "/cli/" }
              CLI
          %li
            %a{ :href => "/rubies/" }
              Installing Rubies
          %li
            %a{ :href => "/default/" }
              Set Default interpreter
          %li
            %a{ :href => "/gems/" }
              Ruby Gems
          %li
            %a{ :href => "/gemsets/" }
              Named gems(ets)
          %li
            %a{ :href => "/ruby/" }
              ruby 'do' action
          %li
            %a{ :href => "/rake/" }
              rake 'do' action
          %li
            %a{ :href => "/gem/" }
              gem 'do' action
          %li
            %a{ :href => "/benchmark/" }
              benchmarking
          %li
            %a{ :href => "/monitor/" }
              monitor
          %li
            %a{ :href => "/subshells/" }
              Subshells
          %li
            %a{ :href => "/rvmrc/" }
              rvmrc
          %li
            %a{ :href => "/hooks/" }
              hooks
          %li
            %a{ :href => "/prompt/" }
              Prompt
          %li
            %a{ :href => "/examples/" }
              Many Examples
          %li
            %a{ :href => "/faq/" }
              FAQ & Notes
          %li
            %a{ :href => "/requirements/" }
              Pre-Requirements
          %li
            %a{ :href => "/passenger/" }
              Passenger
          %li
            %a{ :href => "/bundler/" }
              Bundler
          %li
            %a{ :href => "/zsh/" }
              Zsh
          %li
            %a{ :href => "/mysql/" }
              MySQL
          %li
            %a{ :href => "/troubleshooting/" }
              Troubleshooting
          %li
            %a{ :href => "/contribute/" }
              Contributing
          %li
            %a{ :href => "/about/" }
              About
          %li
            %a{ :href => "/donations/" }
              Donations
          %li
            %a{ :href => "/thanks/" }
              Credits &amp; Thanks
        %h2
          Development
        %ul
          %li
            %a{ :href => "http://groups.google.com/group/rubyversionmanager/" }
              Google Group
          %li
            %a{ :href => "http://github.com/wayneeseguin/rvm/tree/master" }
              Git (GitHub)
          %li
            %a{ :href => "https://www.pivotaltracker.com/projects/26822" }
              Pivotal Tracker Project
      #main.span-18
        %a{ :name => "top" }
        = yield
        %a{ :name => "bottom" }
      #sidebar.span-5.prepend-1.rightlast
        %h2
          Donate
        %p
          Love rvm? A donation would help justify to my wife why I spend so much time working on Open Source projects like rvm ;)
        %a{ :href => "http://www.pledgie.com/campaigns/6195" }
          %img{ :src => "http://www.pledgie.com/campaigns/6195.png?skin_name=chrome", :border => "0", :alt => "Click here to lend your support to: rvm and make a donation at www.pledgie.com !" }
        </p>
        %h2
          Recommend
        %p
          If you like my work with rvm, please recommend me on *with a comment as to why you recommend me* on
          %a{ :href => "http://www.workingwithrails.com/recommendation/for/person/7192-wayne-e-seguin" }
            Working With Rails
          Thank You!!!
        %h2
          IRC
        %ul
          %li
            %a{ :href => "http://webchat.freenode.net/?channels=rvm" }
              irc.freenode.net#rvm
          %li
            wayneeseguin

