# Example rvm Defaults file.
# This file shows some examples of setting defaults to your own tastes.

# Default action to assume
#rvm_action="use"

# Default ruby implementation
#rvm_implementation="ruby"

# Default ruby version
#rvm_version="1.8.6"

# Default patchlevel to set, if implementation is set
#rvm_patchlevel="369"

# Default prefix path (~/, or /usr/local/src/ for example.)
#rvm_prefix_path="$HOME/."

# Default Install Path
#rvm_install_path="${rvm_prefix_path}rvm"

# Default Archives Path
#rvm_archive_path="${rvm_install_path}/archives"

# Default Source Path
#rvm_source_path="${rvm_install_path}/src"

# Default Log Path
#rvm_log_path="${rvm_install_path}/log"

