.container {
	margin: 4em auto;
}

#header {
	background: url('ruby.png') no-repeat 10px 10px;
	height: 120px;
}

#header div.tagline {
	margin-left: 120px;
	font-size: 120%;
	line-height: 1em;
	text-align: right;
}

#header div.title {
	line-height: 1.1em;
	color: #871E05;
	font-weight: bold;
	font-size: 600%;
}

#header a:hover {
	background: none;
	text-decoration: none;
}

#sidebar {
	text-align: right;
	margin-top: -2em;
}

a {
	color: #871E05;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: #871E05;
	background: #FDD;
}

#sidebar ul, #sidebar ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar li {
	line-height: 2em;
	font-size: 133%;
}

#sidebar ul {
}

#sidebar h2 {
	margin-top: 2em;
	margin-bottom: 0em;
}

#main {
	font-size: 120%;
}

code {
	white-space: pre;
	background: #200;
	font-size: 110%;
	color: #EEE;
	display: block;
	clear: left;
	padding: 0em 1em 2em 1em;
	margin: 0 0 2em 0;
	line-height: 1.5em;
}

h2.quick {
	padding-top: 0;
	background: #FDD;
	text-align: center;
	font-weight: bold;
	color: #311;
}
