name: CI

on:
  pull_request:

env:
  TERM: ansi
  RVM_SKIP_BREW_UPDATE: true

jobs:
  fast-tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-15-intel    # intel
          # TODO: fix arm64 macos install
          # - macos-latest    # arm64
        ruby:
          - 3.1
          - 3.2
          - 3.3
          - 3.4
        include:
          # TODO: works on local, but fails in CI, needs to be investigated
          - os: ubuntu-latest
            ruby: 3.3
            test: tests/fail-in-ci/named_ruby_and_gemsets_comment_test.sh

          # TODO: https://github.com/rvm/rvm/issues/4937
          - os: ubuntu-latest
            ruby: 3.3
            test: tests/fail-in-ci/ruby_prepare_mount_comment_test.sh

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/test
        with:
          ruby: ${{ matrix.ruby }}
          test: tests/fast/*

  # TODO: Test failing on 3.4 needs to be fixed
  failing-on-ruby-3-4-tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-15-intel    # intel
          # TODO: fix arm64 macos install
          # - macos-latest    # arm64
        ruby:
          - 3.1
          - 3.2
          - 3.3
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/test
        with:
          ruby: ${{ matrix.ruby }}
          test: tests/fail-on-3.4/*

  alternative-interpreters-tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-15-intel  # intel
          - macos-latest    # arm64
        interpreter:
          - jruby
          - truffleruby
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
        if: ${{ matrix.interpreter == 'jruby' }}

      - run: sudo chown -R $USER /var/lib/gems
        if: ${{ startsWith(matrix.os, 'ubuntu') }}

      - uses: ./.github/actions/test
        with:
          ruby: system
          test: tests/${{ matrix.interpreter }}/*

  all-passed:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - fast-tests
      - failing-on-ruby-3-4-tests
      - alternative-interpreters-tests
    steps:
      - run: exit ${{ contains(needs.*.result, 'failure') && 1 || 0 }}
