name: Specs
on: [push]
jobs:
  build:
    name: Specs
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: [2.7]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - uses: actions/checkout@v2
      - name: Specs
        run: |
          gem install tf -v '>=0.4.1'
          hash -r
          ./install
          git submodule init
          git submodule update
          source ~/.rvm/scripts/rvm
          rvm reload
          tf --text "rvm-test/fast/* rvm-test-rvm1/*"
          tf --text "rvm-test/long/named_ruby_and_gemsets_comment_test.sh"
          tf --text "rvm-test/long/truffleruby_comment_test.sh"
