name: CI
on: [push, pull_request]
jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    env:
      TERM: ansi
    steps:
      - uses: actions/checkout@v2
      - run: ./install
      - run: source ~/.rvm/scripts/rvm && rvm use 2.4.0 --install --default && gem install tf -v '>=0.4.1'
      - name: tests/fast/*
        run: source ~/.rvm/scripts/rvm && tf --text tests/fast/*
      - name: named_ruby_and_gemsets_comment_test
        if: ${{ !contains(matrix.os, 'macos') }}
        run: source ~/.rvm/scripts/rvm && tf --text tests/long/named_ruby_and_gemsets_comment_test.sh
      - name: ruby_prepare_mount_comment_test
        if: ${{ !contains(matrix.os, 'macos') }}
        run: source ~/.rvm/scripts/rvm && tf --text tests/long/ruby_prepare_mount_comment_test.sh
      - name: truffleruby_comment_test
        if: ${{ !contains(matrix.os, 'macos') }}
        run: source ~/.rvm/scripts/rvm && tf --text tests/long/truffleruby_comment_test.sh
