name: CI
on: [push, pull_request]
jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - uses: actions/checkout@v2
      - run: gem install tf -v '>=0.4.1'
      - run: ./install
      - name: tests/fast/*
        run: source ~/.rvm/scripts/rvm && tf --text tests/fast/*
      - name: rvm-test-rvm1/*
        run: source ~/.rvm/scripts/rvm && tf --text tests/rvm1/*
      - name: named_ruby_and_gemsets_comment_test
        run: source ~/.rvm/scripts/rvm && tf --text tests/long/named_ruby_and_gemsets_comment_test.sh
      - name: truffleruby_comment_test
        run: source ~/.rvm/scripts/rvm && tf --text tests/long/truffleruby_comment_test.sh
