name: CI
on: [push, pull_request]
permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    env:
      TERM: ansi
      RVM_SKIP_BREW_UPDATE: true
    steps:
      - uses: actions/checkout@v2
      - run: ./install
      - run: source ~/.rvm/scripts/rvm && rvm use 2.7.7 --install --default && gem install tf -v '>=0.4.1'
      - name: tests/fast/*
        run: source ~/.rvm/scripts/rvm && tf --text tests/fast/*
      - name: named_ruby_and_gemsets_comment_test
        # works on local, but fails in CI, needs to be investigated
        if: ${{ !contains(matrix.os, 'macos') }}
        run: source ~/.rvm/scripts/rvm && gem install tf -v '>=0.4.1' && tf --text tests/long/named_ruby_and_gemsets_comment_test.sh
      - name: ruby_prepare_mount_comment_test
        # https://github.com/rvm/rvm/issues/4937
        if: ${{ !contains(matrix.os, 'macos') }}
        run: source ~/.rvm/scripts/rvm && tf --text tests/long/ruby_prepare_mount_comment_test.sh
      - name: truffleruby_comment_test
        run: source ~/.rvm/scripts/rvm && tf --text tests/long/truffleruby_comment_test.sh
